.home {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  height: 100%;
}

.home__title {
    font-size: 28px;
    font-weight: 600;
}

.home__container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__formContainer {
    box-shadow: 1px 4px 12px -2px rgba(0, 0, 0, 0.43);
    background: #D3959B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    width: 500px;
}

.home__formContainer input {
    border: 1px solid white;
    outline: none;
    padding: 15px 10px;
    width: 80%;
    border-radius: 8px;
    margin: 10px 0;
    background: transparent;
    color: white;
    font-size: 14px;
}

.home__formContainer input::placeholder {
    color: white
}

.home__formContainer h1 {
    color: white;
}

.home__formContainer button {
    color: white;
    border: 1px solid white;
    outline: none;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    border-radius: 12px;
    cursor: pointer;
}